html {
  background-image: url('index-cards.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
} 

 .container {
  margin: 20px auto;
  width: 850px;
  height: 1000px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

.login {

  float: right;
}

.register {

  position: fixed;
  top: 50%;
  left: 50%;
}

.deck_container {
  width: 750;
  display:block;
  margin-top: 50px;
  column-count: 3;
  column-fill: balance;
  column-gap: 20px;
  column-rule-width: 0px;
  border: 1px dotted blue;
}

.stats {
  margin-top: 100px;
}

.logout {
  float:right;
}

#deck-icon {
  border:1px solid black;
  font: sans-serif, bold, 10px, oblique;
  font-size: 30px;
  width: 250px;
  height: 120px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
}

.deck-col {
  margin: 10px;
}












