.login{
  position: fixed;
  right: 20px;
  top: 10px;
  width:auto;
  height:auto;
  
}
.logintext {
  top: 0px;
  /*border: 1px dashed purple;*/
  
}

 #logobs {
  display:inline-block;
  margin: 5px;
 }

#intro {
  position: fixed;
  top: 40px;
  font-family: sans-serif;
  font-style: bold;
  font-size: 40px;
  color: white;
}
 #regobs {
  display:inline-block;
  margin: 5px;
 }

.register {
  /*border: 2px solid black;
  border-radius: 2px;*/
  height: 250px;
  width: 450px;
  position: fixed;
  top: 250px;
  margin-bottom: auto;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px;
  padding-top: 44px;
  background: url('blankcard.jpg') no-repeat top center;
  background-size: cover;
  box-shadow: 10px 10px 10px #5e5e5e;
}
#register {
  float: right;
}

#quizlogo {
  background: url('QuizIcon.jpg') no-repeat top center;
  background-size: cover;
  width:400px;
  height: 400px;
  display: fixed;
  top: 300px
  right: 50px;
  margin-right:50px;
  margin-right: 50px;
}
.logout {
  position: relative;
  float: right;
  right: 20px;
  top: 10px;
}


html {
  background-color: #9dc5de;
  
} 
h1 {
  color: blue;
  margin-top: -5px;
  margin-bottom: -5px;
}
#headiv {
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: -20px;
}

.container {
  margin: 20px auto;
  width: 800px;
  height: auto;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
}

#headiv {
  background-color: white;
}

headiv.h3 {
  text-align: right
}

th {
  text-align: left;
}

.stats {
  display: inline-block;
  float:left;
  left: 10px
  font: sans-serif, bold, 10px, oblique;
  font-size: 15px;
  width: 180px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0px;
  padding: 20px;
  display: relative;
  position: center;
  background-color: white;
}

}

#statsdecks {
  display: inline-block;
  border: 1px dashed orange;
  padding: 10px;
}

#colsep {
  width: 50px;
  display: inline-block;
}
.deck_container {
  width: auto;
  height: auto;
  margin: 0px;
  left-margin: 20px;
  padding: 0px;
  top-padding: 0px;
  display: inline-block;
  right: 0px;
  top: -10px;
  
}

.deck_icon {
  background-color: white;
  border:2px solid black;
  border-radius:3px;
  font: sans-serif, bold, 10px, oblique;
  font-size: 35px;
  width: 200;
  height: 150;
  text-align: center;
  padding: 20px;
}


