<div class="container">
  <form action="/" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username">
  </form>
</div>

<%= form_for(@things) do |f| %>
    
<% end %>

