<div class="login">

    <div id="logobs" class="logintext"><h3>Login:</h3></div>
    <div id="logobs">
    <form action="/user_home" method="POST">
        <div id="logobs">
            <label for="email">Email:</label>
            <br><br>
            <label for="password">Password:</label>
        </div>

        <div id="logobs">
            <input id = 'email' type="text" name="email">
            <br><br>
            <input id='password' type="password" name="password">
            <input type="submit" value="login">
            
        </div>

    </form>
</div>

<div id="quizlogo"></div>

</div>
<div id="intro"> Welcome to <h1>Quizzery...</h1>learning without misery! </div>
<div class="register">
    <h1>Register now!</h1>
    <br>
    <form action="/new_user" method="POST">
        <div id="regobs">
            <label for="email">Email:</label>
            <br><br>
            <label for="password">Password:</label>
        </div>
        <div id="regobs">
            <input id = "email" type="text" name="user[email]">
            <br><br>
            <input id='password' type="password" name="user[password]">
        </div>
        <div id="regobs" id="register"><input type="submit" value="register"></div>
    </form>
</div>
</div> 


