<div class="game_container">
  <h2>Hey 
    <%= @current_user.email %>, 
    your results from playing the 
    <%= @deck.name %> 
    deck are...</h2>

  <div class="game_results">
    <h1>You won!</h1>
  </div>

  <div class="stats_container">
    <ul>
      <% if cards_remaining?%>
      <li># Cards Remaining</li>
      <%end%>
      <li># Cards Played</li>
      <li>% Correct</li>
    </ul>
  </div>
</div>