<div class="game_container">
  <h2>Hey <%= current_user.email  %>, you your results from playing <%=Deck.find_by(current_round.deck_id)name %> deck are...</h2>

  <div class="game_results">
    <
  </div>

  <div class="stats_container">
    <ul>
      <li># Cards Remaining</li>
      <li># Cards Played</li>
      <li>% Correct</li>
    </ul>
  </div>
</div>