
<div class="game_container">
  <h2>Hey <%=@current_user.email  %>, you are playing <%=@deck.name %> deck</h2>

  <div class="card_container">
    <textarea><%=@card_array.first.definition%></textarea>

    <form method="POST" action="/round/<%=@deck.id %>">
      <input type="text" name="answer">
      <input type="submit" value="Submit Answer!">
    </form>

    <form action="/user_home/1">
      <input type="submit" value="End Game">
    </form>
  </div>

  <div class="stats_container">
    <ul>
      <li># Cards Remaining</li>
      <li># Cards Played</li>
      <li>% Correct</li>
    </ul>
  </div>
</div>
