<form class="logout" action="/logout" method="POST">
    <input type="submit" name="logout" value="logout">
</form>

<div id="headiv">

    <% if @user %>
  <h1>Welcome, <%= @current_user.email %>!</h1>
    <% end %>
  <h2>Are you ready to test your knowledge?</h2>

  <h3>Choose a deck to play!</h3>

</div>

<div id="statsdecks">

<div class="stats">
  <h3>Your Stats</h3>
  <ul>
    <li>Rounds Played | </li>
    <li>Decks Completed | </li>
    <li>Guess % | </li>
  </ul>  
</div>

<div id="colsep"></div>

<div class="deck_container">

  <% @deck_array = Deck.all %>

  <% @deck_array.each do |deck| %>
    <a href="/round/<%= deck.id%>/<%= @card_index %>">
      <div class="deck_icon">
            <%= deck.name %>
      </div>
    </a>
    <br>
  <% end %>
</div>

</div>





