<% if @user %>
<h2>Welcome, <%= @user.email %>!</h2>
<% end %>
<h2>Test your knowledge!</h2>

<h3>Choose a deck to play!</h3>
<div class="deck_container">
  <a href="http://google.com"><img src="http://lorempixel.com/200/200/food"></a>
</div>




