<% if @user %>
<h2>Welcome, <%= @current_user.email %>!</h2>
<% end %>
<h2>Test your knowledge!</h2>

<h3>Choose a deck to play!</h3>
<div class="deck_container">
  <% @deck_array = Deck.all; @deck_array.each do |deck| %>

    <div class="deck_icon"
      <h3><%= deck.name %></h3>
      <a href="/round/<%=deck.id%>"><img src="http://lorempixel.com/200/200/food"></a>
    </div>

  <% end %>

</div>

<div class="stats">
  <h3>Your Stats</h3>
  <ul>
    <li>Rounds Played | </li>
    <li>Decks Completed | </li>
    <li>Guess % | </li>
  </ul>  
</div>

<form class="logout" action="/logout" method="POST">
    <input type="submit" name="logout" value="logout">
</form>

